
input[type=text] {
  width: 20px;
}

.img {
  width: 20px;
  height: 25px;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(62, 66, 74);
  border-radius: 10%;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  background: url('../img/int_snap.png');
  background-repeat: no-repeat;
  background-size: 30px 35px;
  background-position: center;
  display: inline-block;
}

input[type=checkbox]:checked + label {
  background-color: rgba(134, 173, 240, .6);
  display: inline-block;
  border: 1px solid rgb(100,100,255);
}

#intercept {
  width: 14px;
  height: 5px;
  background-color: rgb(173, 46, 40);
  touch-action: none;
  user-select: none;
  position: absolute;
  z-index: auto;
}

#slope, #slopeLabel {
  color: rgb(57, 76, 196);
}

#slopeLabel {
  background-color: rgba(206, 211, 237, .9);
  border: 2px solid rgba(206, 211, 237, .9);
}

#yIntLabel {
  background-color: rgba(235, 204, 204, .9);
  border: 2px solid rgba(235, 204, 204, .9);
}

#yint, #yIntLabel {
  color: rgb(173, 46, 40);
}

#pt1Label {
  background-color: rgba(198, 184, 227,.9);
  color: rgb(67, 37, 125);
}

#pt2Label {
  background-color: rgba(235, 211, 171,.9);
  color: rgb(138, 95, 21);
}

#pt1 {
  background-color: rgb(131, 73, 245);
  border: 3px solid rgba(67, 37, 125, .5);
}

#pt2 {
  background-color: rgb(232, 157, 28);
  border: 3px solid rgba(138, 95, 21, .5);
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  touch-action: none;
  user-select: none;
  position: absolute;
}

.label {
  font-size: 12px;
  position: absolute;
  border-radius: 10%;
  font-weight: bold;
}

.pt1 {
  color: rgb(131, 73, 245);
}

.pt2 {
  color: rgb(232, 157, 28);
}

.riseRun {
  color: rgb(45, 166, 87);
}

.rrLabel {
  background-color: rgba(190, 237, 183, .9);
  border: 2px solid rgba(190, 237, 183, .9);
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
}

header {
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
}

/* Top level div - coordinate plane */
body > div {
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}
