
#intercept {
  width: 14px;
  height: 5px;
  background-color: rgb(173, 46, 40);
  touch-action: none;
  user-select: none;
  position: absolute;
  z-index: auto;
}

#slope, #slopeLabel {
  color: rgb(0, 0, 255);
}

#slopeLabel {
  background-color: rgba(152, 173, 227, .9);
  border: 2px solid rgba(152, 173, 227, .9);
  font-size: 12px;
}

#yIntLabel {
  background-color: rgba(227, 167, 152, .9);
  border: 2px solid rgba(227, 167, 152, .9);
}

#yint, #yIntLabel {
  color: rgb(173, 46, 40);
}

#pt1 {
  background-color: rgb(245, 230, 99);
  border: 3px solid rgba(136, 136, 136, .5);
}

#pt2 {
  background-color: rgb(66, 135, 245);
  border: 3px solid rgba(29, 76, 150, .5);
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  touch-action: none;
  user-select: none;
  position: absolute;
}

.label {
  font-size: 20px;
  position: absolute;
  border-radius: 10%;
}
